.item-list {
    margin-top: 60px;
    padding-top: 60px;
    position: static;
}
article {
    position: static;
    margin-top: 60px;
}
body {
     margin-top: 60px;
}
ul {
    display: grid;
    grid-template-columns: 40px 1fr ;

}